THIS SYSTEM IS MANAGED BY~~~~~~~~~~

███╗   ███╗ █████╗ ██████╗ ██╗   ██╗
████╗ ████║██╔══██╗██╔══██╗██║   ██║
██╔████╔██║███████║██████╔╝██║   ██║
██║╚██╔╝██║██╔══██║██╔══██╗╚██╗ ██╔╝
██║ ╚═╝ ██║██║  ██║██║  ██║ ╚████╔╝ 
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝  ╚═══╝  
!UNAUTHORIZED ACCESS IS PROHIBITED!
